/* height < width (landscape): work in vh units */

html {
    width: 100%;
    height: 100%;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc((100% - 120vh)/2);
    margin-right: calc((100% - 120vh)/2);
    width: 120vh;
    background-color: #111416;
    color: #111416;
    font-family: 'Indie Flower', cursive;
    font-size: 3vh;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.button, .icon, .text, .text-fade{
    height: 100%;
    line-height: 5vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: default;
}

.icon {
    color: darkred;
    width: 5vh;
}

.icon img, .button img {
    width: 100%;
}

.button {
    width: 5vh;
    cursor: pointer;
}

.button:hover {
    background-color: #ccc;
}

.right {
    float: right;
}

.left {
    float: left;
}

header {
    width: 100%;
    height: 10vh;
    font-size: 8vh;
    background-color: lightblue;
}

.game-menu, .game-status {
    width: 116vh; /* 120 - 4 from padding */
    height: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: lightgray;
}

.game-status .text {
    color: rgba(0, 0, 0, 1);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.game-status .fade {
    color: rgba(0, 0, 0, 0);
}

.game-map {
    width: 80vh;
    height: 80vh;
    float: left;
}

.game-canvas {
    width: 80vh;
    height: 80vh;
    z-index: -1;
    position: absolute;
}

canvas {
    width: 100%;
}

.game-square {
    width: 25%;
    height: 25%;
    float: left;
    cursor: pointer;
}

.game-square:hover {
    background-color: rgba(130, 190, 243, 0.281);
}

.game-panel {
    width: 39vh;
    height: 80vh;
    float: right;
    background-color: whitesmoke;
}

.game-panel-button, .game-panel-next, .game-panel-select {
    height: 5vh;
    line-height: 5vh;
    width: 37vh;
    padding-left: 1vh;
    padding-right: 1vh;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}

.game-panel-next {
    text-align: right;
    position: absolute;
    bottom: 5vh;
}

.game-panel-select input {
    position: absolute;
    opacity: 0;
}

.game-panel-select input:checked ~ div {
    background-color: lightgreen;
}

.game-panel-button:hover, .game-panel-next:hover, .game-panel-select:hover div {
    background-color: #ccc;
}

.game-panel-scroll {
    height: 58vh;
    width: 100%;
    border-top: 1vh solid #111416;
    border-bottom: 1vh solid #111416;

    overflow-x: hidden;
    overflow-y: auto;
}

.game-popup {
    max-height: 70vh;
    width: 100vh;
    border: 1vh solid #111416;

    background-color: #f8f7f0;
    position: absolute;
    left: calc((100% - 120vh)/2 + 9vh);
    top: 19vh;
}

.game-popup-title {
    height: 8vh;
    width: 95vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;

    line-height: 8vh;
    font-size: 6vh;

    background-color: lightblue;
    vertical-align: middle;
}

.game-popup-content {
    max-height: 55vh;

    width: 95vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;

    overflow-x: hidden;
    overflow-y: auto;
}

.game-popup-content input {
    width: 100%;
    height: 5vh;
    padding: 1vh 3vh;
    display: inline-block;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    box-sizing: border-box;
    outline: none;
    font-size: 3vh;
    /* font-family: 'Indie Flower', cursive; */
    color: #111416;
}

.game-popup-content input:focus {
    border-color: lightblue;
}

.game-popup-content div {
    height: 5vh;
    width: 100%;

    line-height: 5vh;
    vertical-align: middle;
}

.game-popup-actions {
    height: 5vh;
    width: 100%;
    text-align: center;

    padding-top: 1vh;
    padding-bottom: 1vh;
}

.game-popup-button {
    height: 100%;
    width: 10vh;
    line-height: 5vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;

    margin-left: 2.5vh;
    margin-right: 2.5vh;

    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.game-popup-button:hover {
    background-color: #ccc;
}

.float-container::after {
    content: "";
    clear: both;
    display: table;
}